<h1>This is the secret page</h1>
<p>You found me</p>

<img src="http://www.photosforclass.com/download/812527835">

<li><a href="/register">Sign Up</a></li>
<li><a href="/logout">log out</a></li>
<li><a href="/login">Log in</a></li>