<% include partials/header %>
<h1>Fell in love with: <%= thingVar %></h1>
<% if(thingVar.toLowerCase()==="hans") { %>
    <p> GOOD CHOICE HANS IS THE BEST</p>
<% } %>

<p> Ps this file is love.ejs file</p>

<% include partials/footer %>